//#region normal

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../public/fonts/HelveticaNeueHeavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../public/fonts/HelveticaNeueBlack.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../public/fonts/HelveticaNeueBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../public/fonts/HelveticaNeueMedium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../public/fonts/HelveticaNeueLight.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../public/fonts/HelveticaNeueUltraLight.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../../public/fonts/HelveticaNeueThin.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

//#endregion